# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: 'Build'

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}

    - name: Fetch Additional Files
      run: |
        curl --silent --show-error --parallel --remote-name-all \
          https://raw.githubusercontent.com/Nightblade/pob-dict/main/poe-dict.txt

    - name: Process Files
      run: |
        sort -fu src/wiki-dict.txt poe-dict.txt | awk '{ 
          if ($0 !~ /^[A-Z]+$/) { 
            printf "%c%s\n", toupper(substr($0,1,1)), tolower(substr($0,2)) 
            print tolower($0) 
          } else { 
            print $0 
          } 
        }' > persdict.dat
        cp persdict.dat "Custom Dictionary.txt"
        rm poe-dict.txt

    - name: Auto-Commit File
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Auto-Commit File
